<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

  </head>

  <body>
    <a name="top"></a>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">

          {% if page.id %}
            <h3 class="site-description-short"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h3>
          {% else %}
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
            <h1 class="site-description"><a href="{{ site.baseurl }}/">{{ site.description }}</a></h1>
          {% endif %}
          
        {% if page.id %}
          <nav class="short">
        {% else %}
          <nav>
        {% endif %}
            <a href="{{ site.baseurl }}/about/">About</a>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="http://github.com/{{ site.footer-links.github }}">Projects</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="wrap" class="container-fluid">
        <div class="row">
            <div class="content col-md-6 col-md-offset-2" id="main" role="main">
                {{ content }}
            </div>
            <div id="listing" id="articles" class="content col-md-2 {% if page.id %}main{% else %}short{% endif %}">
                <h2>Stuff I wrote</h2>
                {% for post in site.posts  %}
                    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
                    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
                
                    {% if forloop.first %}
                    <h3 style="line-height: 1.2;" id="{{ this_year }}-ref">{{this_year}}</h3>
                    <ul>
                    {% endif %}
                
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                
                    {% if forloop.last %}
                    </ul>
                    {% else %}
                        {% if this_year != next_year %}
                        </ul>
                        <h3 style="line-height: 1.2;" id="{{ next_year }}-ref">{{next_year}}</h3>
                        <ul>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
          {% if page.url != '/' %}
            <br/><a href="#top">Back to Top</a>
          {% endif %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>