<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <link href='http://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
          
          <h1 class="site-description"><a href="{{ site.baseurl }}/">{{ site.description }}</a></h1>
          
          <nav>
            <a href="{{ site.baseurl }}/about/">About</a>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="http://github.com/{{ site.footer-links.github }}">Projects</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="wrap" class="container-fluid">
        <div class="row">
            <div class="content col-md-6 col-md-offset-2" id="main" role="main">
                {{ content }}
            </div>
            <div class="content col-md-2">
                <h2>Stuff I wrote</h2>
                {% for post in site.posts  %}
                    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
                    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
                
                    {% if forloop.first %}
                    <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
                    <ul>
                    {% endif %}
                
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                
                    {% if forloop.last %}
                    </ul>
                    {% else %}
                        {% if this_year != next_year %}
                        </ul>
                        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
                        <ul>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>